[manifest]
version = "1.0.0"
dump_lua = true
priority = 0


# Getting page number info from card collection page
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/ui.lua"]'
pattern = '''if not e or not e.cycle_config then return end'''
position = "after"
payload = '''if TRO.UI.get_page_num then TRO.UI.curr_page = e.cycle_config.current_option end'''
match_indent = true

# Adding the "Search Target Added" UI to collection pages
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/ui.lua"]'
pattern = '''
(not args.hide_single_page or cards_per_page < #pool) and {n=G.UIT.R, config={align = "cm"}, nodes={
            create_option_cycle({options = options, w = 4.5, cycle_shoulders = true, opt_callback = 'SMODS_card_collection_page', current_option = 1, colour = G.ACTIVE_MOD_UI and (G.ACTIVE_MOD_UI.ui_config or {}).collection_option_cycle_colour or G.C.RED, no_pips = true, focus_args = {snap_to = true, nav = 'wide'}})
          }} or nil,
'''
position = "at"
payload = '''
(not args.hide_single_page or cards_per_page < #pool) and {n=G.UIT.R, config={align = "cm"}, nodes={
  {n=G.UIT.C, config={align = "cm"}, nodes={ {n=G.UIT.R, config={align = "cm"}, nodes={
    create_option_cycle({options = options, w = 4.5, cycle_shoulders = true, opt_callback = 'SMODS_card_collection_page', current_option = args.TRO_curr_option or 1, colour = G.ACTIVE_MOD_UI and (G.ACTIVE_MOD_UI.ui_config or {}).collection_option_cycle_colour or G.C.RED, no_pips = true, focus_args = {snap_to = true, nav = 'wide'}})
  }} }},
  TRO.coll_from_button and TRO.UIDEF.added_key_UI()
  }} or TRO.coll_from_button and {n=G.UIT.R, config={align = "cm"}, nodes={ TRO.UIDEF.added_key_UI() }}
'''
match_indent = true


## Localization break part control
[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
pattern = "elseif part.control.X or part.control.B then"
position = "before"
payload = '''
elseif part.control.br and not (SMODS.Mods["Pokermon"] or {}).can_load then
  local height = 0.05
  local gaps = 0.2
  local mid = 0.15
  local sides = (tonumber(part.control.br) - gaps*2 - mid) / 2
  -- spacing
  args.nodes[#args.nodes+1] = {{n=G.UIT.R, config={align = "cm", minh = height}, nodes={}}}
  if sides < gaps then
    args.nodes[#args.nodes+1] = {{n=G.UIT.C, config={align = "cm", colour = G.C.UI.TRANSPARENT_DARK, minw = tonumber(part.control.br), minh = height}}}
  else
    local temp_nodes = {{n=G.UIT.C, config={align = "cm", colour = G.C.UI.TRANSPARENT_DARK, minw = sides, minh = height}, nodes={}},
                        {n=G.UIT.C, config={align = "cm", minw = gaps}, nodes={}},
                        {n=G.UIT.C, config={align = "cm", colour = G.C.UI.TEXT_INACTIVE, minw = mid, minh = height}, nodes={}},
                        {n=G.UIT.C, config={align = "cm", minw = gaps}, nodes={}},
                        {n=G.UIT.C, config={align = "cm", colour = G.C.UI.TRANSPARENT_DARK, minw = sides, minh = height}, nodes={}}}
    args.nodes[#args.nodes+1] = {{n=G.UIT.R, config={align = "cm", minw = tonumber(part.control.br)}, nodes=temp_nodes}}
  end
'''
match_indent = true